div { display: block; }

html, body {margin: 0; padding: 0; font-family: "Lucida Sans"}

.container {
	display: block;
	padding: 0;
	margin: 0;
}

.button {
	margin: 2px;
}

[class*="col-"] {
	margin-top: 5px;
	margin-bottom: 5px
}

.album-image {
	background-color: #ededed;
}

.dummy-box {
	padding: 1em;
	margin: .5em;
	width: auto;
	background-color: #eee;
	display: block;
	border: 1px solid #ccc;
}



@media only screen and (min-width: 600px) {
	.dummy-box {
		display: inline-block;
	}
}
@media only screen and (min-width: 768px) {
	.dummy-box {
		display: inline-block;
	}
}