@mixin border-size($size) {
	border-width: $size + px !important;
}

@mixin border-side-size($side, $size) {
	@if $side == t {
		border-top-width : $size + px !important;
	} @else if $side == l {
		border-left-width : $size + px !important;
	} @else if $side == r {
		border-right-width : $size + px !important;
	} @else if $side == b {
		border-bottom-width : $size + px !important;
	}
}

@mixin border-color($color) {
	border-color: $color !important;
}

@mixin border-side-color($side, $color) {
	@if $side == t {
		border-top-color : $color !important;
	} @else if $side == l {
		border-left-color : $color !important;
	} @else if $side == r {
		border-right-color : $color !important;
	} @else if $side == b {
		border-bottom-color : $color !important;
	}
}