@mixin media-small() {
	@media only screen and (max-width: 768px) {
		/* for mobile */
		[class*="col-"] {
			width: 100%;
		}
	}
}


@mixin media-default() {
	/* for mobile */
	[class*="col-"] {
		width: 100%;
		padding: 1.6em;
	}
	
	@media only screen and (min-width: 600px) {
		/* for tablet */
		@for $i from 1 through 12 {
			.col-md-#{$i} {
				width: ($i / 12) * 100%;
				display: inline-block;
				float: left;
				padding: 1em;
			}
		}
		
		.navbar > ul {
			display: block;
		}	
		.navbar .navbar-brand, .navbar > ul > li, .navbar > a {
			display: block;
			float: left;
			
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
	
	
	@media only screen and (min-width: 768px) {
		/* for deskstop */
		@for $i from 1 through 12 {
			.col-#{$i} {
				width: ($i / 12) * 100%;
				display: inline-block;
				float: left;
				padding: 1em;
			}
		}
		
		.navbar ul {
			display: block;
		}	
		.navbar .navbar-brand, .navbar ul > li, .navbar > a {
			display: block;
			float: left;
			
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
	
	@media only screen and (min-width: 1280px) {
		/* for larger screen */
		@for $i from 1 through 12 {
			.col-lg-#{$i} {
				width: ($i / 12) * 100%;
				display: inline-block;
				float: left;
				padding: 1em;
			}
		}
		.navbar .navbar-brand, .navbar > ul > li, .navbar > a {
			display: block;
			float: left;
			
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
}